
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-info">Create</button>
    </div>
    <div class="col">
        <a class="btn btn-info" asp-action="Index">Back</a>
    </div>
</div>

