@model int
    <div class="row">
        <div class="col">
            <button class="btn btn-info" type="submit" asp-route-Id="@Model">Submit</button>
        </div>
        <div class="col">
            <a class="btn btn-info" asp-action="Index">Back</a>
        </div>
    </div>

